{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
var map,vectorLayer;
var lat    =   {% if form.lat.value == None %}{{ 0.0 }}{% else %}{{ form.lat.value }}{% endif %};
var lon    =   {% if form.lon.value == None %}{{ 0.0 }}{% else %}{{ form.lon.value }}{% endif %};
var zoom   =   {% if form.lon.value == None %}{{ 5 }}{% else %}{{ 14 }}{% endif %};
var curpos = new Array();
var position;

var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection

var cntrposition       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

function init()
{
  map = new OpenLayers.Map("Map",{
    controls: 
      [
        new OpenLayers.Control.PanZoomBar(),                        
        new OpenLayers.Control.Navigation({documentDrag: true}),
        new OpenLayers.Control.LayerSwitcher({}),
        new OpenLayers.Control.Permalink(),
        new OpenLayers.Control.MousePosition({}),
        new OpenLayers.Control.ScaleLine(),
        new OpenLayers.Control.OverviewMap(),
      ]
  }
  );
  var mapnik      = new OpenLayers.Layer.OSM("MAP"); 

  map.addLayers([mapnik]);
  map.addLayer(mapnik);
  map.setCenter(cntrposition, zoom);

  var click = new OpenLayers.Control.Click();
  map.addControl(click);

  click.activate();
};

OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
  defaultHandlerOptions: {
    'single': true,
    'double': false,
    'pixelTolerance': 0,
    'stopSingle': false,
    'stopDouble': false
  },

  initialize: function(options) {
    this.handlerOptions = OpenLayers.Util.extend(
        {}, this.defaultHandlerOptions
        );
    OpenLayers.Control.prototype.initialize.apply(
        this, arguments
        );
    this.handler = new OpenLayers.Handler.Click(
        this, {
          'click': this.trigger
        }, this.handlerOptions
        );
  },

  trigger: function(e) {
    var lonlat = map.getLonLatFromPixel(e.xy);
    lonlat1= new OpenLayers.LonLat(lonlat.lon,lonlat.lat).transform(toProjection,fromProjection);
    document.getElementById("id_lat").value = lonlat1.lat;
    document.getElementById("id_lon").value = lonlat1.lon;
  }

});

  function fillpostcode() {
    var s = document.createElement('script');
    s.src = 'http://nominatim.openstreetmap.org/reverse?json_callback=cb&format=json&lat='+document.getElementById("id_lat").value+'&lon='+document.getElementById("id_lon").value+'&addressdetails=1';
    document.getElementById('callbackscript').innerHTML="";
    document.getElementById('callbackscript').appendChild(s);
  }

  cb = function cb(json) {
    if (typeof json.address.postcode != "undefined") {document.getElementById("id_postcode").value = json.address.postcode};
  }

  function addresslookup() {
    var s = document.createElement('script');
    s.src = 'http://nominatim.openstreetmap.org/search?format=json&limit=1&json_callback=cb2&q='+document.getElementById("id_meetplace").value;
    document.getElementById('addrscript').innerHTML="";
    document.getElementById('addrscript').appendChild(s);
  }

  cb2 = function cb2(json) {
    if (typeof json[0].lat != "undefined") {document.getElementById("id_lat").value = json[0].lat};
    if (typeof json[0].lon != "undefined") {document.getElementById("id_lon").value = json[0].lon};
    cntrposition       = new OpenLayers.LonLat(json[0].lon, json[0].lat).transform( fromProjection, toProjection);
    if (typeof json[0].lat != "undefined" && typeof json[0].lon != "undefined") {map.setCenter(cntrposition, 16)};
  }
</script>
<div id="callbackscript">
</div>
<div id="addrscript">
</div>

<div class="container">

<h1><a href=/layers/>Back to main list</a></h1>
<h2>Update club</h2>
<h4 style="color:red"><a href="/club/{{club.id}}/delete">Delete club</a></h4>
<form action="" method="POST">
    {% csrf_token %}
    <table>
      <tr class="fieldWrapper">
        <th>{{ form.name.label_tag }}</th>
        <td colspan="2">{{ form.name }}{{ form.name.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.meettime.label_tag }}</th>
        <td colspan="2">{{ form.meettime }}{{ form.meettime.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.meetplace.label_tag }}</th>
        <td colspan="2">{{ form.meetplace }}{{ form.meetplace.errors }}</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2" style="text-align:center"><button type="button" onclick="addresslookup()">look up address</button></td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.postcode.label_tag }}</th>
        <td>{{ form.postcode }}{{ form.postcode.errors }}</td>
        <td><button type="button" onclick="fillpostcode()">look up postcode</button></td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.contact.label_tag }}</th>
        <td colspan="2">{{ form.contact }}{{ form.contact.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.website.label_tag }}</th>
        <td colspan="2">{{ form.website }}{{ form.website.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.layer.label_tag }}</th>
        <td colspan="2">{{ form.layer }}{{ form.layer.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.clubstatus.label_tag }}</th>
        <td colspan="2">{{ form.clubstatus }}{{ form.clubstatus.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.clubtype.label_tag }}</th>
        <td colspan="2">{{ form.clubtype }}{{ form.clubtype.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.lat.label_tag }}</th>
        <td colspan="2">{{ form.lat }}{{ form.lat.errors }}</td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.lon.label_tag }}</th>
        <td colspan="2">{{ form.lon }}{{ form.lon.errors }}</td>
      </tr>
    </table>
    <input type="submit" name="update" value="Update">
</form>
<h2>Click on the map to set club coordinates</h2>
<div id="Map" style="height: 650px" ></div>
{% endblock %}
