{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
var map,vectorLayer;
var lat             =   0.0;
var lon            =    0.0;
var zoom        =   5;
var curpos = new Array();
var position;

var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection

var cntrposition       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

function init()
{
  map = new OpenLayers.Map("Map",{
    controls: 
      [
      new OpenLayers.Control.PanZoomBar(),                        
      new OpenLayers.Control.LayerSwitcher({}),
      new OpenLayers.Control.Permalink(),
        new OpenLayers.Control.MousePosition({}),
        new OpenLayers.Control.ScaleLine(),
          new OpenLayers.Control.OverviewMap(),
      ]
  }
  );
  var mapnik      = new OpenLayers.Layer.OSM("MAP"); 

  map.addLayers([mapnik]);
  map.addLayer(mapnik);
  map.setCenter(cntrposition, zoom);

  var click = new OpenLayers.Control.Click();
  map.addControl(click);

  click.activate();
};

OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {               
  defaultHandlerOptions: {
    'single': true,
    'double': false,
    'pixelTolerance': 0,
    'stopSingle': false,
    'stopDouble': false
  },

  initialize: function(options) {
    this.handlerOptions = OpenLayers.Util.extend(
        {}, this.defaultHandlerOptions
        );
    OpenLayers.Control.prototype.initialize.apply(
        this, arguments
        );
    this.handler = new OpenLayers.Handler.Click(
        this, {
          'click': this.trigger
        }, this.handlerOptions
        );
  },

  trigger: function(e) {
    var lonlat = map.getLonLatFromPixel(e.xy);
    lonlat1= new OpenLayers.LonLat(lonlat.lon,lonlat.lat).transform(toProjection,fromProjection);
    document.getElementById("id_lat").value = lonlat1.lat;
    document.getElementById("id_lon").value = lonlat1.lon;
  }

});
</script>

<div class="container">

<h1><a href=/layers/>Back to main list</a></h1>
<h2>Update club</h2>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" name="update" value="Update">
</form>
<div id="Map" style="height: 650px" ></div>
{% endblock %}
