{% extends "base.html" %}
{% load static %}

{% block content %}
<script src={% static 'sorttable.js' %}></script>
<div class="container">

<h2>Map layers</h2>
<h3><a href="/layer/create">Add a layer</a></h3>
<table class="sortable">
  <tr>
    <th></th>
    <th>Number of clubs</th>
    <th class="sorttable_nosort"></th>
    <th class="sorttable_nosort"></th>
    <th style="text-align:center">Association website</th>
  </tr>
{% for layer in object_list %}
    <tr>
      <td><a href=/layer/{{layer.id}}>{{ layer.name }}</a></td> 
      <td style="text-align:center">{{ layer.club_set.count }}</td> 
      <td><a href=/layer/{{layer.id}}/edit>[Edit layer details]</a></td> 
      <td><a href=/clubs/{{ layer.name }}>List of clubs</a></td> 
      <td><a href="{{ layer.website }}">{{ layer.description }}</a></td>
    </tr>
{% endfor %}
</table>

</div>

{% endblock %}
