{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

  <h2>Layer {{ object.name }}</h2>
  <h3><a href=/layers/>Back to main list</a></h3>
  <h3><a href=/clubs/{{ object.name }}>List of {{ object.name }} clubs</a></h3> 
  <ul>
  <li>{{object.description}}</li>
  <li><a href="{{object.website}}">{{object.website}}</a></li>
  <li>Color: <span style="background-color:{{object.color}}">&nbsp;&nbsp;&nbsp;</span>{{object.color}}<span style="background-color:{{object.color}}">&nbsp;&nbsp;&nbsp;</span></li>
  </ul>

</div>

{% endblock %}
