{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h1><a href=/layers/>Back to main list</a></h1>
<h2><a href="/clubs/{{ layer.name }}">{{ layer.name }}</a></h2>
<h3>{{ club.name }}: <a href="{{ club.website }}">{{ club.description }}</a></h3>
<h4><a href="/club/{{club.id}}/edit">Edit club details</a></h4>
<h4 style="color:red"><a href="/club/{{club.id}}/delete">Delete club</a></h4>
<table>
  <tr><td>Name:          </td><td>{{ club.name }}                                  </td></tr>
  <tr><td>Meeting time:  </td><td>{{ club.meettime }}                              </td></tr>
  <tr><td>Meeting place: </td><td>{{ club.meetplace }}                             </td></tr>
  <tr><td>Coordinates:   </td><td>Lat: {{ club.lat }}; Lon: {{ club.lon }}         </td></tr>
  <tr><td>Postal code:   </td><td>{{ club.postcode }}                              </td></tr>
  <tr><td>Contact:       </td><td>{{ club.contact }}                               </td></tr>
  <tr><td>Website:       </td><td><a href={{ club.website }}>{{ club.website }}</a></td></tr>
  <tr><td>Club type:     </td><td>{{ club.clubtype }}                              </td></tr>
  <tr><td>Club status:   </td><td>{{ club.clubstatus }}                            </td></tr>
</table>
<iframe width="100%" height="300px" frameBorder="0" src="https://umap.openstreetmap.fr/en/map/go-clubs_76310?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=true&moreControl=true&datalayersControl=true&onLoadPanel=undefined&captionBar=false#15/{{ club.lat }}/{{ club.lon }}"></iframe><p><a href="http://umap.openstreetmap.fr/en/map/go-clubs_76310">See full screen</a></p>
</div>
{% endblock %}
